@import "../node_modules/bulma/sass/utilities/initial-variables";

// === FONTS ====
$family-sans-serif: 'Quicksand', Arial, sans-serif;
$family-primary: $family-sans-serif;

//==== COLORS =====
$primary: #e67e22;
$text: #555;
$link: $text;
$secondary-background: $white-ter;

$linkedin-social: #3498db;
$github-social: #000;
$gmail-social: #e74c3c;
