@import 'vars';
@import 'mixins';
// @import 'functions';
@import "font-awesome/font-awesome";
@import "../node_modules/bulma/bulma.sass";

// **** BASE STYLES **** //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

// ***** NAVBAR ****** //
.logo {
  height: 300px;
  width: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px $white-ter;
  z-index: 9999;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-item:hover,
.navbar-burger:hover {
  background-color: $navbar-background;
}

@include desktop {
  .navbar-end {
    margin-right: 30px;
    .navbar-item {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
      &:hover, &:active {
        border-bottom: 4px solid $primary;
      }
    }
  }
}

// *** LANDING *** //
#landing {
  margin-top: $navbar-height;
}

// **** ABOUT **** //
.shelly-photo {
  border-radius: 100%;
  width: 50%;
  margin: 0 25%;
}

#about {
  background-color: $secondary-background;
  .columns {
    @include column-position;
  }
}

// **** SKILLS **** //
#skills {
  // background-color: $secondary-background;
  .columns {
    @include column-position;
  }
}
