@import 'vars';
// @import 'mixins';
// @import 'functions';
@import "../node_modules/bulma/bulma.sass";

// **** BASE STYLES **** //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ***** NAVBAR STYLES ****** //
.logo {
  height: 300px;
  width: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px $white-ter;
  z-index: 9999;
}

.navbar-brand {
  margin-left: 20px;
  .navbar-item:hover {
    background-color: $navbar-background;
  }
}

.navbar-burger:hover {
  background-color: $navbar-background;
}

.navbar-end {
  .navbar-item {
    text-align: center;
  }
}

@include desktop {
  .navbar-end {
    margin-right: 30px;
    .navbar-item {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
      &:hover, &:active {
        border-bottom: 4px solid $primary;
      }
    }
  }
}
