@import 'vars';
@import 'mixins';
@import "font-awesome/font-awesome";
@import "../node_modules/bulma/bulma.sass";

// **** BASE STYLES **** //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

h3 { margin-top: 15px;}

// **** HEADER ****** //
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .hero-body {
    h1, h2 {
      color: $header-hero;
    }
  }
}

// ***** NAVBAR ****** //

//  TRANSPARENT NAV STYLES
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  @include transparent-nav-background;
  z-index: 9999;
}

.navbar-brand { margin-left: 20px;}

.logo {
  height: 300px;
  width: auto;
}

.navbar-burger {
  @include transparent-nav-span;
  &.is-active {
    @include transparent-nav-span;
  }
  &:hover {
    @include transparent-nav-background;
  }
}

a.navbar-item {
  color: $white;
  &:hover {
    @include transparent-nav-background;
    color: $white;
  }
}

@include desktop {
  .navbar-end {
    margin-right: 30px;
    .navbar-item {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
      &:hover, &:active {
        color: $white;
        border-bottom: 4px solid $primary;
      }
    }
  }
}

// OPAQUE NAV STYLES (ON SCROLL TO ABOUT)
.remove-transparent {
  transition: background-color 0.7s ease;
  background-color: $scrolled-navbar-color;
  box-shadow: 0 2px 2px #efefef;
  @include scrolled-nav;
}


// **** ABOUT **** //
.shelly-photo {
  border-radius: 100%;
  width: 50%;
  margin: 0 25%;
}

.about-content {
  // background-color: $secondary-background;
  p:first-child {
    @include bottom-spacing;
  }
  .column {
    @include top-spacing;
  }
}

// **** SKILLS **** //
.skills-content {
  background-color: $secondary-background;
  .column {
    @include top-spacing;
  }
}

// **** WORK *** //
.work-content {
  .column {
    @include top-spacing;
    p {
      @include bottom-spacing;
    }
  }

  h3 {
    @include bottom-spacing;
    &:hover {
      color: $link-secondary;
    }
  }

  .image {
    border: 1px solid $grey-lighter;
  }

}

@include desktop {
  .work-content {
    padding-top: 15vh;
    .image {
      transform: scale(1.00);
      transition: transform 0.5s, opacity 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

}

// *** CONTACT *** //
form { @include top-spacing;}

@include desktop {
  form {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.fa-github {
  color: $github-social;
  @include lighten-social-icon($github-social);
}

.fa-linkedin-square {
  color: $linkedin-social;
  @include darken-social-icon($linkedin-social);
}

.fa-envelope-o {
  color: $gmail-social;
  @include darken-social-icon($gmail-social);
}

@include desktop {
  a.icon:nth-of-type(2) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
