@import "../../node_modules/bulma/sass/utilities/initial-variables";

// === FONTS ====

//override bulma//
$family-sans-serif: 'Quicksand', Arial, sans-serif;
$family-primary: $family-sans-serif;

//==== COLORS =====

//override bulma//
$primary: #e67e22;
$text: #555;
$link: $text;
$header-hero: $white;
$transparent: rgba(255,255,255,0); //custom
$navbar-background: $transparent;

//custom//
$link-secondary: $primary;
$secondary-background: $white-ter;

$linkedin-social: #217dbb;
$github-social: #000;
$gmail-social: #b82617;

$scrolled-navbar-color: rgba(255,255,255,0.98);
